<?xml version="1.0" encoding="UTF-8"?>
<settings>
	
	<!--  modo DEBUG - "true" or "false" --> 
	<property id="DEBUG_MODE" value="true"/>
	
	<!--  caminho para os conteudos --> 
	<property id="CONTENTS_PATH" value="contents/"/>
	
	<!-- caminho para os ficheiros XML de conteúdos -->
	<property id="XML_PATH" value="xml/"/>
	
	<!-- caminho para o ficheiro XML de conteúdos principal -->
	<property id="MAIN_XML_FILE" value="xmlfile.xml"/>
	
	<!-- tempo para detectar inactividade - em milisegundos -->
	<property id="INACTIVITY_TIME" value="200000"/>
	
	<!-- tempo para detectar inactividade - em milisegundos -->
	<property id="FULL_SCREEN" value="false"/>

	
</settings>